<app-navBar></app-navBar>
<div class="custom-container mt-5" style="width: 90%; margin: 0 auto;">
  <div class="head-form">
  <h2>Servicios realizados</h2>

  
<span _ngcontent-bwv-c48="" class="material-symbols-outlined icon"> search </span><input placeholder="Buscar venta" type="text" class="input" required="">
  <button class="btn btn-primary float-end" routerLink="/crear-servicio"><i class="fa fa-plus" aria-hidden="true"></i>   Registrar nuevo servicio</button>
  </div> 
  <table class="table">
    <thead>
      <tr>
        <th>Nombre del Negocio</th>
        <th>Dirección</th>
        <th>Fecha</th>
        <th>Tipo de Servicio</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servicio of servicios">
        <td>{{ servicio.nombreNegocio }}</td>
        <td>{{ servicio.direccion }}</td>
        <td>{{ servicio.fecha | date }}</td>
        <td>{{ servicio.tipoServicio }}</td>
        <td>{{ servicio.precio }}</td>
      </tr>
    </tbody>
  </table>
</div>

