

<div class="contenedor-nav">
    <div class="content-nav">
        <nav class="navbar">
            <img routerLink="/" class="img" alt="img" src="../../../assets/LogoExpres.png" width="200px" height="50px" >
            <div class="navigate">
            <ul>
                <li><a>Productos</a></li>
                <li><a  routerLink="/listar-producto">Clientes</a></li>
                <li><a  routerLink="/listar-servicio">Fumigaciones</a></li>
                <li><a>Documentos</a></li>
                <li><a href="#" class="cerrar-sesion">Cerrar sesion</a></li>
                <li>
                <span class="material-symbols-outlined icon"> search </span>
                </li>
            </ul>
            </div>
        </nav>
    </div>
</div>





<!-- <div class="nav-principal">

    <div class="nav-cont-text1">
        <p>Panel de control <br> Expres fumigaciones</p>
    </div>

    <div class="nav-cont-text2">
        <div class="cont-buttons">
            <div>
                <button type="button" routerLink="/listar-producto" class="btn btn-success">CLIENTES</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary">VENTAS</button>
            </div>
        </div>
    </div>

    <div class="nav-cont-img" routerLink="/">
        <img alt="img" src="../../../assets/LogoExpres.png" width="200px" height="50px" >
    </div>

    <div class="nav-cont-text3">
        <div>
            <button type="button" class="btn btn-primary">PRODUCTOS</button>
        </div>
        <div>
            <button type="button" class="btn btn-success">DOCTS</button>
        </div>
    </div>

    <div class="nav-cont-text4">
        <div class="nav-cont-user-icons">
            <div class="nav-cont-user">
                <p>Usuario: <br> Administrador</p>
            </div>
            <div class="nav-cont-img-user">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>      
        </div>
    </div>

</div> -->