<app-navBar></app-navBar>

  
<div class="container mt-5">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="searchTerm" (input)="onSearch()">
  </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <span class="titulo">Clientes</span>
                    
                    <button class="btn btn-warning float-end" routerLink="/crear-producto"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Tipo de propiedad</th>
                            <th scope="col">Telefono</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let producto of listProductos">
                            <ng-container *ngIf="producto.nombre.toLowerCase().includes(searchTerm.toLowerCase())">
                              <td>{{ producto.nombre }}</td>
                              <td>{{ producto.categoria }}</td>
                              <td>{{ producto.ubicacion }}</td>
                              <td>{{ producto.precio }}</td>
                              <td>
                                <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i>
                                <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
                              </td>
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px; color: red;" *ngIf="listProductos.length == 0">No existen clientes para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>

