<div class="custom-container mt-5" style="width: 90%; margin: 0 auto;">
  <div class="head-form">
    <h2>Servicios</h2>
    <button class="btn btn-primary float-end" routerLink="/servicio-torres"><i class="fa fa-plus" aria-hidden="true"></i> Registrar nueva torre</button>
  </div>
  <table class="table">
    <thead>
      <tr>
         <th>Residencia</th>
        <th># Torre</th>
        <th># Apto</th>
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Celular</th>
        <th>Nivel de Infestación</th>
        <th>Recomendaciones</th>
        <th>Acciones</th> <!-- Nueva columna de acciones -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let torre of torres">
        <td>{{ torre.residencia }}</td>
        <td>{{ torre.nombre }}</td>
        <td>{{ torre.apto }}</td>
        <td>{{ torre.fecha | date }}</td>
        <td>{{ torre.nombrePersona }}</td>
        <td>{{ torre.celular }}</td>
        <td>{{ torre.nivelInfestacion }}</td>
        <td>{{ torre.recomendaciones }}</td>
        <td>
<div class="accionesbtn">
          <button class="btn" id="editar" *ngIf="torre._id" (click)="editarTorre(torre._id)">Editar</button>
          <button class="btn" id="guardar" *ngIf="torre._id" (click)="enviarMensaje(torre._id)">Enviar Mensaje</button>
          <button class="btn" id="eliminar"  *ngIf="torre._id" (click)="eliminarTorre(torre._id)">Eliminar</button>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
