
<video autoplay muted loop id="player">
  <source src="../../../assets/media/video.mp4" type="video/mp4" />
</video>

<div class="contenedor">
  <div class="content">
    <nav class="navbar">
      <img routerLink="/" class="img" alt="img" src="../../../assets/LogoExpres.png" width="200px" height="50px" >
      <div class="navigate">
      <ul>
          <li><a href="#" routerLink="/modulo-admin">Iniciar sesion</a></li>
        
          <li>
          <span class="material-symbols-outlined icon"> search </span>
          </li>
      </ul>
      </div>
  </nav>

    <div class="headline">
      <h2>Control de plagas</h2>
      <p>
        Expres Fumigaciones es una empresa Colombiana encargada de realizar el control de plagas y desinfestacion con productos piretroides y 
        cipermetrinas de la mejor calidad manejados técnicamente con un grado de toxicidad |||º teniendo un 
        gran poder de acción y residualidad, no afectan la salud de las personas o mascotas, cuenta con más de 5 años de experiencia.
      </p>
      <div class="buttons">
        <a href="#" class="get-started"> Ver servicios </a>
        <a href="#" class="read-more"> Contacto <i class="fa fa-phone-volume" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
