<app-navBar></app-navBar>
<div class="container-text">
 <p>En Exprés Fumigaciones realizamos el control de plagas y desinfestacion con productos piretroides y 
  cipermetrinas de la mejor calidad manejados técnicamente con un grado de toxicidad |||º teniendo un 
  gran poder de acción y residualidad, no afectan la salud de las personas o mascotas; no representan 
  daños para los alimentos, medio ambiente o el mobiliario, son productos inoloros, no visibles y no 
  generan manchas, por lo que no crean incomodidad en su aplicación, contamos con 5 años de experiencia

  Nuestro trabajo incluye el certificado para su establecimiento, garantía del mismo, atención permanente a todas sus necesidades e inquietudes, respectiva capacitación al personal.</p>
</div>
<app-footer></app-footer>
